

.element {
    flex: auto;
    background-color:white;
    height: 20px;
    margin: 10px;
    display: block;
    
    
    
    
}
.boite {
    background-color:rgb(210, 205, 205);
    display: flex;
    flex-flow: column wrap;
    
}
h1 {
    color: grey;
    margin-left: 10px;
}
h6{
    margin-left: 10px;
    color: rgb(73, 73, 201);
}
.element:hover{
    background-color: rgb(113, 113, 176);

}

